<nav class="site-nav">
        <div class="site-nav-left">
                {% if site.logo %}
                    <a class="site-nav-logo" href="https://vudefensive.ml"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /> </a>
                {% else %}
                    <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
                {% endif %}
        </div>
        <div class="site-nav-right">
            {% if page.navigation %}
                {% include navigation.html %}
            {% endif %}
            <!--{% if site.subscribers %}
                <a class="subscribe-button" href="#subscribe">Subscribe</a>
            {% endif %}-->
        </div>
    </nav>